#customize-controls .control-section-blog-room .accordion-section-title:hover,
#customize-controls .control-section-blog-room .accordion-section-title:focus {
	background-color: #703b3b;
	color: #fff;
}

.control-section-blog-room .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
	background-color: #000000;
	border-color: #000000;
	color: #fff;
}

.rtl .control-section-blog-room .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

li#accordion-section-blog-room h3.accordion-section-title {
    background-color: #703b3b;
    color: #fff;
}
