.ocdi p.demo-data-url {
    display: none;
}

p.blog-room-demo-data {
	font-size: 16px;
	font-weight: 700;
	display: inline-block;
	border: 0.5px solid #dfdfdf;
	padding: 8px;
	background: #ffff;
}